@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@layer utilities {
    .main__title--gradient {
      background: linear-gradient(90.04deg, #e76b83 .02%, #7484ed 55.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

